{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>GothHub login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?{% now "U" %}">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    

  </head>
  <body>

  	<div class="logo">
  		<h1>GothHub</h1>
  	</div>

  	<div class="login-box">
      <!-- tu ponizej Pawla kod, nwm jak go stad wywalic zeby byl przekierowywany z innego pliku -->
      {% block content %}
        {% if error_message %}<p style="color: red"><strong>{{error_message}}</strong></p>{% endif %}
        {% if form.login %}<h2>Logowanie</h2>
        {% else %}<h2>Rejestracja</h2>{% endif %}
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
            <p>
              {{ field.label_tag }}<br>
              {{ field }}
              <br>
              {% if field.help_text %}
                <small>{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </p>
          {% endfor %}
          <button type="submit">{% if form.login %}Zaloguj{% else %}Zarejestruj{% endif %}</button>
        </form>
      {% endblock %}
  	</div>

  </body>
</html>
