{% extends "users_profile.html" %}
{% block content_block %}
<h2>Obczaj sobie: <a href="/user/{{ username }}/{{ repository.name }}">{{repository.name}}</a>
{% for name, url in catalogs_path %}
    / <a href="{{ url }}">{{ name }}</a>
{% endfor %}
</h2>
    <div>
        <h2>Wybierz porównywaną wersję:</h2>
    <ul>
            {% for version in versions reversed %}
               <li> <a href="/user/{{ username }}/{{ repository }}/{{ path }}/files/{{file_name}}/{{ version_1 }}/{{version.version_nr}}"><h4>{{ version }}</h4></a></li>
            {% endfor %}
    </ul>

    <form method="get" action="/user/{{ username }}/{{ repository }}/{{ path }}/files/{{file_name}}/{{ version_1 }}">
            <button class="btn btn-light" type="submit" value="Powrot">Powrót</button>
    </form>
    </div>

    <div class="container">
      <div class="row">
         <div class="col-md-6">
             <h1>{{ version_1 }}</h1>
            {{ file_1_content|linebreaks }}
         </div>
         <div class="col-md-6">
              <h1>{{ version_2 }}</h1>
           {{ file_2_content|linebreaks }}
         </div>
      </div>
    </div>

{% endblock %}
