{% extends "users_profile.html" %}
{% block content_block %}
    <div>
        <form method="post" action="2">
        {% csrf_token %}
        {{ form }}
{#            <select>#}
{#                {% for version in versions reversed %}#}
{#                    <option value= {{ version.version_nr }} >#}
{#                    {% if version == current_version %}selected="selected"{% endif %}#}
{#                        </option>#}
{#                {% endfor %}#}
{#            </select>#}
            <input type="submit" value="Select">
        </form>
    </div>

    <section class="container">
        <div class="one">{{ file_content|linebreaks }}</div>
        <div class="two"></div>
    </section>

{% endblock %}