{% extends "users_profile.html" %}
{% block content_block %}
    <div>
        <ul>
            {% for version in versions reversed %}
               <li> <a href="{{ version.version_nr }}"><h2>{{ version }}</h2></a></li>
            {% endfor %}
        </ul>

        <form method="get" action="{{ file.version_nr }}/{{ file.version_nr }}">
            <button class="btn btn-light" type="submit" value="Porownaj">Porównaj wersje</button>
        </form>
    </div>

    <section class="container">
        <h1>{{ file }}</h1>
        <div class="one">{{ file_content|linebreaks }}</div>
    </section>

{% endblock %}