{% load static %}
<html lang="pl_PL">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GothHub</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!--  <link rel="stylesheet" href="{% static 'css/style_home.css' %}"> -->
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=K2D:300,400,500,700,800" rel="stylesheet">

    <!-- Bootstrap CSS / Color Scheme -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <!-- Grupowanie "marki" i przycisku rozwijania mobilnego menu -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3">
            <span class="sr-only">Rozwiń nawigację</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">GothHub</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
          {% if request.user.is_authenticated %}
          <!-- jak uzytkownik zalogowany -->

            <!-- lewa strona menu -->
            <ul class="nav navbar-nav">
              <li><a href="#">O nas</a></li>
              <li><a href="#">Statystyki</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Moje repozytoria <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  {% if repositories is not None %}
                    {% for repository in repositories %}
                      <li><a href="/user/{{ request.user.username }}/{{ repository.name }}">{{ repository.name }}</a></li>
                    {% endfor %}
                  {% endif %}
                </ul>
              </li>
              <form class="navbar-form navbar-left" method="get" action="/user/{{ user.username }}/add_repository">
                 <button type="submit" class="btn btn-primary" value="dodajRepozytorium">Dodaj repozytorium</button>
              </form>
            </ul>

            <!-- prawa strona menu -->
            <ul class="nav navbar-nav navbar-right">
              <li><a class="username" href="/user/{{ request.user.username }}">{{ request.user.username }}</a></li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <span class="glyphicon glyphicon-user"></span> 
                        <!--{{ request.user.username }}-->
                      <span class="glyphicon glyphicon-chevron-down"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                      <li>
                        <!-- dodac tu funkcje edycji -->
                        <form class="navbar-form navbar-center">
                          <button type="submit" class="btn btn-default" value="edytujProfil">Edytuj profil</button>
                        </form>
                        <form class="navbar-form navbar-center" method="post" action="/logout/">
                          <button type="submit" class="btn btn-default">Wyloguj</button>
                          {% csrf_token %}
                        </form>
                      </li>
                  </ul>
              </li>
            </ul>

          {% else %}
            <!-- w tym elsie rzeczy dla niezalogowanego użytkownika -->

            <!-- lewa strona menu -->
            <ul class="nav navbar-nav">
              <li><a href="#">O nas</a></li>
            </ul>

            <!-- prawa strona menu -->
            <ul class="nav navbar-nav navbar-right">
              <li>
                <form class="navbar-form navbar-left" method="get" action="/login">
                  <button type="submit" class="btn btn-defaul">Logowanie</button>
                </form>
              </li>
              <li>
                <form class="navbar-form navbar-left" method="get" action="/join">
                  <button type="submit" class="btn btn-defaul">Rejestracja</button>
                </form>
              </li>
            </ul>

            {% endif %}

          </div>
      </div>
    </nav>


    <div class="container">
      <div class="content"> <!-- trzeba pomyslec co tu dac -->

        {% if request.user.is_authenticated %}
          <!-- w tym ifie wyświetlają się wszystkie rzeczy, ktre powinien widzieć zalogowany użytkownik -->


        {% else %}
          <!-- w tym elsie rzeczy dla niezalogowanego użytkownika -->

        {% endif %}

        {% block repo_block %}
        {% endblock %}


        <br />content
        {% block content_block %}
        {% endblock %}

      </div>
    </div>

  </body>
</html>
