{% extends "general.html" %}
{% block content_block %}
    <article>
    <h1><div class="logo1">GothHub</div></h1>
    <section>
        <h2>Prosty system kontroli wersji dla ludzi, którzy nienawidzą pracy z innymi ludźmi</h2>
        <br/>
        <ul>
            <li><h4>Twój współpracownik po raz kolejny spushował swoje nieprzetestowane zmiany na mastera?</h4></li>
            <li><h4>Jesteś w kolejce do Pokojowego Nobla za rozwiązywanie konfliktów na branchach?</h4></li>
            <li><h4>Nie masz pojęcia co większość poleceń, które piszesz, znaczą, ale i tak je piszesz?</h4></li>
        </ul>
        <br/>
        <h2>Simple is better than complex. </h2>
        <br/>
        <h3>Oto <a class="logo1">GothHub</a> - prosty system kontroli wersji pozwalający na
            przechowywanie plików w formatach najpopularniejszych językach programowania. Pozwala na tworzenie publicznych
            (widocznych dla innych użytkowników), jak i prywatnych repozytoriów (tylko dla Ciebie). Nigdy więcej porozrzucanych plików.
            GothHub wymusza utworzenie chociażby jednego katalogu dla plików, organizacja nigdy nie była tak prosta.
            Dosyć męczącym commitom i pull requestom. Masz nowe zmiany w pliku? Prześlij go ponownie. Nasz system
            zadba o to by utworzona została nowa wersja. Wrzuciłeś zły plik, lub masz ochotę skasować cały niepotrzebny
            katalog? Żaden problem... wystarczy jeden przycisk. Wszystkie statystyki dotyczące twoich repozytoriów
            również są pod ręką. </h3>

    </section>
    </article>
{% endblock %}
