{% extends "general.html" %}
{% block content_block %}
  {% if username %}
    {{ username }}
  {% endif %}
  {% if repositories_owner is not None %}
    {% for repository in repositories_owner %}
      <a href="/user/{{ username }}/{{ repository.name }}"><h2>{{ repository.name }}</h2></a>
      <p>{{ repository.is_public }}</p>
    {% endfor %}
  {% endif %}
  {% if username == user.username %}
    <div class="repo">
      <button class="button3" type="submit" value="edytuj">Edytuj</button>
      <button class="button4" type="submit" value="usun">Usun</button>
    </div>
  {% endif %}
{% endblock %}
