.logo
{
  color: yellow;
  background-color: pink;
}
body
{
  background-color: black;
  font-family: 'Lora', serif;
  color: pink;
}
.h1
{
  color: yellow;
}
.h2
{

}

.login-box
{
  background-color: red;
}
