
body
{
  background-color: orange;
  font-family: 'Lora', serif;
  color: pink;
}
.h1
{
  color: yellow;
}
.h2
{

}
.logo
{
  color: yellow;
  background-color: pink;
}
.login-box
{
  background-color: red;
}
